header h1 {
  font-size: 48px;
  color: #17a2b8;
  text-indent: 20px;
  display: inline-block;
  font-family: "Quicksand", sans-serif;
}

header .name-hover:hover,
i:hover {
  color: #ff9933;
  text-shadow: 0 0 3px #ffee10;
}

#collapsibleNavbar {
  justify-content: flex-end;
}

.header-icons {
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 640px) {
  /*Normalizes header height to same height as condensed navbar*/
  header {
    position: relative;
    height: 58px;
    z-index: 1020;
  }

  header h1 {
    line-height: 58px;
  }

  .header-icons {
    padding-right: 8px;
  }
}

@media only screen and (max-width: 375px) {
  header h1 {
    font-size: 30px;
  }

  .header-icons {
    transform: scale(0.8);
    margin-right: 5px;
  }

  .navbar {
    padding: 8px 5px;
  }
}
